{{page-title "Order"}}
<h1>Liste des produits :</h1>
<p>{{@model.user.name}} ({{@model.user.email}})</p>
<p>{{@model.dateCreation}}</p>
<table style="width: 100%;border-collapse: collapse;">
  <thead>
    <tr>
      <td style="border: 1px solid black">Nom</td>
      <td style="border: 1px solid black">Quantitée</td>
      <td style="border: 1px solid black">Prix</td>
      <td style="border: 1px solid black">Montant</td>
      <td style="border: 1px solid black">Preparation</td>
    </tr>
  </thead>
  <tbody>
    {{#each @model.orderdetails as |elm|}}
    <tr>
      <td style="border: 1px solid black"> {{elm.product.name}} </td>
      <td style="border: 1px solid black">  {{elm.quantity}} </td>
      <td style="border: 1px solid black">  {{elm.product.price}} € </td>
      <td style="border: 1px solid black">  {{elm.amount}} € </td>
      <td style="border: 1px solid black">  <Input @type="checkbox"/> </td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <td style="border: 1px solid black"></td>
    <td style="border: 1px solid black"></td>
    <td style="border: 1px solid black"></td>
    <td style="border: 1px solid black">{{@model.amount}} €</td>
    <td style="border: 1px solid black">{{@model.toPay}} €</td>
  </tfoot>
</table>

<h2>Produit preparé ()</h2>
{{#each @model.orderdetails as |elm|}}
  {{#if elm.prepared}}
    <h5>{{elm.product.name}}</h5>
    <p>{{elm.product.price}} X {{elm.quantity}}</p>
    <hr>
  {{/if}}
{{/each}}
<a href="../board">Valider pour {{@model.amount}} €</a>
{{outlet}}