{{page-title "Order"}}
<h3>Liste des produits :</h3>
<p>{{@model.dateCreation}}</p>
<table style="width: 100%;border-collapse: collapse;">
  <thead>
    <tr>
      <td style="border: 1px solid black">Nom</td>
      <td style="border: 1px solid black">Qantitée</td>
      <td style="border: 1px solid black">Prix</td>
      <td style="border: 1px solid black">Montant</td>
      <td style="border: 1px solid black">Preparation</td>
    </tr>
  </thead>
  <tbody>
    {{#each @model.orderdetails as |elm|}}
    <tr>
      <td style="border: 1px solid black"> {{elm.product.name}} </td>
      <td style="border: 1px solid black">  {{elm.quantity}} </td>
      <td style="border: 1px solid black">  {{elm.product.price}} € </td>
      <td style="border: 1px solid black">  {{elm.amount}} € </td>
      <td style="border: 1px solid black">  <input type="checkbox"  checked> </td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <td style="border: 1px solid black"></td>
    <td style="border: 1px solid black"></td>
    <td style="border: 1px solid black"></td>
    <td style="border: 1px solid black">{{@model.amount}} €</td>
    <td style="border: 1px solid black">{{@model.toPay}} €</td>
  </tfoot>
</table>
{{outlet}}